/* Resetando alguns estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.8em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #4CAF50; /* Cor verde */
}

h3 {
    font-size: 1.5em;
    margin-top: 15px;
}

/* Informações de contato */
.contact-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 20px;
}

/* Estilos de listas */
ul {
    list-style-type: none;
    margin-top: 10px;
}

ul li {
    margin-bottom: 10px;
}

ul ul {
    margin-left: 20px;
}

/* Estilo de seções */
.section {
    margin-top: 20px;
}

/* Estilo para o rodapé, se necessário */
footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #777;
}
